.pag {
    text-align: center;
    width: 100%;
    height: 655px;
    padding-top:10%;
}
.prin {
    background-color:azure ;
    height:100px;
}
body {
    background-color: teal;
}
h1 {
    padding-top: 2.2%;
    margin-bottom:7%;
}
.pag a {
    font-size:25px;
    padding:5px;
    background-color: transparent;
    text-decoration: none;
    box-sizing: border-box;
}
.pag a:visited {
    color: black;
}
.pag a:hover {
    color: white;
    background-color: #00322C;
}
.pag i {
    margin-left:2%;
}
.link {
    margin-top: 3%;
}